.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outerContainer {
  border: 1px solid black;
}

.vh-100 {
  min-height: 100vh;
}

.headerContainer {
  min-height: 60px;
  flex-shrink: 0;
}

.appLogo {
  display: inline-block;
  margin-top: 5px;
  font-size: 24px;
}

.contentContainer {
  height: calc(100% - 60px);
  min-height: 1000px;
  
}

.summaryContainer {
  min-width: 350px;
}

.mainColumnContainer {
  min-width: 790px;
  
}

.rightColumnContainer {
  min-width: 300px;
  overflow: hidden;
}

.visualizerContainer {
  width: 100%;
  padding-bottom: 20px;
  
}

.finishContainer {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.codeContainer {
  height: 40%;
  max-height: 484px;
  padding-left: 48px;
  width: 100%;
  
}

.codeOverflow {
  height: 100%;
  overflow-y: auto;
  margin-right: 48px;
  border-radius: 12px;
  text-align: left;
}

.codeOverflowFinish {
  height: 80%;
  overflow-y: auto;
  margin-right: -12px;
  margin-left: 12px;
  border-radius: 12px;
  text-align: left;
}

.codeOverflow::-webkit-scrollbar, .codeOverflowFinish::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
}

.codeOverflow::-webkit-scrollbar-track, .codeOverflowFinish::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

.codeOverflow::-webkit-scrollbar-thumb, .codeOverflowFinish::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.toolboxContainer {
  height: 40%;
  margin-left: 39px;
    text-align: right;
}

.eaiContainer {
  height: 100%;
}


  

